#content {
  width: 70%;
  background: white;
}

.stretch {
  margin: 0;
  height: 100%;
}

.outer-content {
  background: lightgray;
}

.content-text {
  margin: 0;
}

.stretch {
  margin-top: 0px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.centered {
  margin: auto;
  display: block;
  text-align: center;
}

.vertical-fit {
  height: 100%;
}